<mat-sidenav-container fullscreen autosize>    
    <mat-sidenav #sidenav appSidenavSmallWidthAutoAdjust class="dark-theme">        
        <mat-nav-list>
            <a mat-list-item routerLink="..">
                <mat-icon mat-list-icon>arrow_back</mat-icon>
                Back
            </a>            
            <a mat-list-item routerLink="browse">
                <mat-icon mat-list-icon>folder_open</mat-icon>
                Browse
            </a>
            <a mat-list-item routerLink="log">
                <mat-icon mat-list-icon>history</mat-icon>
                Log
            </a>            
            <a mat-list-item routerLink="singledirectoryview">
                <mat-icon mat-list-icon>folder</mat-icon>
                Single folder view
            </a>            
            <mat-list-item (click)="deleteLocal()">
                <mat-icon mat-list-icon>delete_forever</mat-icon>
                Delete
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color="primary" style="display: flex">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <span style="flex-grow: 1"></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>
