<h1>Angular filebrowser components</h1>
<mat-card>
    <mat-card-content>
            
        <mat-checkbox [(ngModel)]="showfilebrowser"> Show filebrowser</mat-checkbox>
            
        <div style="display: flex; flex-wrap: wrap; width: 100%">
            <mat-form-field>
                <input matInput [(ngModel)]="workdir" placeholder="Local workdir" />
            </mat-form-field>
            <mat-form-field style="width: 500px">
                <input matInput [(ngModel)]="gitrepositoryurl" placeholder="Git repository URL"  />
            </mat-form-field>
        </div>

        <div style="display: flex; flex-wrap: wrap;  width: 100%">
            <mat-form-field>
                <input matInput [(ngModel)]="fullname" placeholder="Full name" (change)="updateGitUser()"/>                
            </mat-form-field>        
            <mat-form-field>
                <input matInput [(ngModel)]="email" placeholder="Email" (change)="updateGitUser()"/>                
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="clone()">Clone</button>
        <button mat-raised-button (click)="pull()">Pull remote changes</button>
        <button mat-raised-button (click)="push()">Push local changes</button>
        <button mat-raised-button (click)="remount()">Remount workdir</button>
    </mat-card-actions>
</mat-card>
<br />
<mat-card>
    <mat-card-title>The filebrowser component</mat-card-title>
    <mat-card-content>
        <div style="height: 300px; border: red solid 1px">
            <app-filebrowser *ngIf="showfilebrowser" 
                [fileInfoFilter]="hideFileIfStartingWithDotFilter"
                [fileActionsHandler]="fileActionsHandler"
                >
            </app-filebrowser>
        </div>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>Single directory view component</mat-card-title>
    <mat-card-content>    
        <app-singlefolderview path="Testfolder"></app-singlefolderview>    
    </mat-card-content>
</mat-card>
